<div class="headerDiv">
    <h1 class="headerNameH1">Achievement Badger</h1>
    <% if (isLoggedIn) { %>
    <div class="profileContainer">
        <div class="imgContainer">
            <img id="profileImg" src="<%=profileImageUrl%>" alt="profile image">
        </div>
        <div id="profileOverlayContainer" class="profileOverlayContainer displayNone">
            <div class="profileOverlay">
                <p class="userNameP toolTip">
                    <%=userName%>
                    <span class="toolTipText">This Person Is Awesome</span>
                </p>
                <div class="notificationSwitchContainer">
                    <label for="notificationsCheckbox">Notifications On This Device<input class="notificationsCheckbox" id="notificationsCheckbox" type="checkbox"></label>
                </div>

                <% if (isTeamPage) { %>
                    <button id="mainPageButton" class="MainPageButton">Main Page</button>
                <% } else { %>
                    <button id="manageTeamsButton" class="manageTeamsButton">Manage Teams</button>
                <% } %>
                <button id="logOutButton" class="logOutButton">Log Out</button>
            </div>
        </div>
    </div>
    <% } else { %>
    <a href="/auth/google">Google Login</a>
    <% } %>
</div>