<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="manifest.json">
    </head>
    <body>
        <p>
            <button id="pushButton" class="simpleButton">
                Enable Push Messaging
            </button>

            <% if (isLoggedIn) { %>
                <a href="/logout">Google Logout</a>
            <% } else { %>
                <a href="/auth/google">Google LogIn</a>
            <% } %>

        </p>
        <textarea id="endpointTextArea" rows="8" cols="50"></textarea>

        <p>
            User ID: <br>
            <input type="text" id="userIdField"> <br>
            <button id="sendButton" class="simpleButton">Send</button>
        </p>

        <p>
            Team Name: <br>
            <input type="text" id="teamNameField"><br>
            <button id="createTeamButton" class="simpleButton">Create</button>
                    </p>

        <p>
            <h3> Invite to </h3>

            Email Address: <br>
            <input type="text" id="inviteEmailAddressField"><br><br>

            Team Name: <br>
            <input type="text" id="inviteTeamNameField"><br><br>

            Team Id: <br>
            <input type="text" id="inviteTeamIdField"><br>

            <button id="inviteMemberButton" class="simpleButton">Invite</button>
        </p>

        <p>
            List Members <br>
            Team Name: <br>
            <input type="text" id="listMembersTeamNameField"> <br>
            Team Id: <br>
            <input type="text" id="listMembersTeamIdField"> <br>
            <button id="listMembersButton" class="simpleButton">List Members</button>
        </p>

        <p>
            List My Teams <br>
            <button id="listTeamsButton" class="simpleButton">List Teams</button>
        </p>

        <p>
            Am I Moderator: <br>
            Team Name: <br>
            <input type="text" id="isModeratorTeamNameField"> <br>
            Team Id: <br>
            <input type="text" id="isModeratorTeamIdField"> <br>
            <button id="isModeratorButton" class="simpleButton">Check is Mod.</button>
            <button id="isOnlyModeratorButton" class="simpleButton">Check Only Mod.</button>
        </p>

        <p>
            Remove Me From Team: <br>
            Team Name: <br>
            <input type="text" id="removeMeTeamNameField"> <br>
            Team Id: <br>
            <input type="text" id="removeMeTeamIdField"> <br>
            <button id="removeMeButton" class="simpleButton">Remove Me</button>
        </p>

        <p>
            Remove Me From Team: <br>
            Member Id: <br>
            <input type="text" id="removeMemberMemberIdField"> <br>
            Team Name: <br>
            <input type="text" id="removeMemberTeamNameField"> <br>
            Team Id: <br>
            <input type="text" id="removeMemberTeamIdField"> <br>
            <button id="removeMemberButton" class="simpleButton">Remove Member</button>
        </p>

    </body>
</html>