<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.json">
</head>

<body>
    <div class="headerDiv">
        <% if (isLoggedIn) { %>
        <div class="profileContainer">
            <div class="imgContainer">
                <img id="profileImg" src="<%=profileImageUrl%>" alt="profile image">
            </div>
            <div id="profileOverlayContainer" class="profileOverlayContainer displayNone">
                <div class="profileOverlay">
                    <p class="userNameP toolTip">
                        <%=userName%>
                        <span class="toolTipText">This Person Is Awesome</span>
                    </p>
                    <div class="notificationSwitchContainer">
                        <label for="notificationsCheckbox">Notifications On This Device<input class="notificationsCheckbox" id="notificationsCheckbox" type="checkbox"></label>
                    </div>
                    <button id="mainPageButton" class="MainPageButton">Main Page</button>
                    <button id="logOutButton" class="logOutButton">Log Out</button>
                </div>
            </div>
        </div>
        <% } else { %>
        <a href="/auth/google">Google Login</a>
        <% } %>
    </div>

    <h2>My Teams</h2>
    <div id="myTeamsDiv" class="myTeamsDiv">
    </div>

    <h2>Blocked Users</h2>
    <div id="blockedUsersDiv" class="blockedUsersDiv">
    </div>

</body>
</html>